@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    font-size: 20px;
    font-family: "Outfit", sans-serif;
    @apply scroll-smooth;
  }

  body {
    @apply bg-day-200 dark:bg-night-800 text-night-500 dark:text-day-500 bg-ffflux;
  }

  main {
    @apply max-md:pb-12;
  }
}

.fade-in {
  animation: fade-in 0.3s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.raise-graph {
  animation: raise-graph 0.3s ease-in-out;
  @apply origin-bottom;
}

@keyframes raise-graph {
  from {
    transform: scaleY(0%);
  }

  to {
    transform: scaleY(100%);
  }
}